<div class="project-content mathetmalice">

  <div class="grid" ref="grids">
    <div />
    <div />
    <div />
    <div />
    <div />
    <div />
  </div>

  <div class="description-container" ref="description">
    <div class="title-container">
      <h1>
        Math & Malice
        <span>Educative app</span>
      </h1>
      <p>
        Based on the real life of a 7-8 year old child, Math&Malice is an educative iPad game which can help
        the entire class acquire 4th grade mathematics and allow the teacher to concentrate on pupils who are
        having problems.
      </p>
    </div>
    <div class="what-i-did">
      <h2>What i did</h2>
      <ul>
        <li>UX Design</li>
        <li>UI Design</li>
        <li>Graphic Design</li>
        <li>Illustration</li>
        <li>Motion Design</li>
      </ul>
    </div>
    <div class="who">
      <h2>Who ?</h2>
      <ul>
        <li>Mathis Biabiany</li>
        <li>Editis, Nathan</li>
        <li>Gobelins l'école de l'image</li>
      </ul>
    </div>
  </div>

  <div class="section section-1" ref="section1">
    <div>
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-1.jpg" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-2.jpg" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-3.jpg" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-4.jpg" alt="" />
    </div>
    <div>
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-5.jpg" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-6.jpg" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-7.jpg" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-8.jpg" alt="" />
    </div>
  </div>

  <div class="section section-2" ref="section2">
    <div>
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-9.png" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-10.png" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-11.png" alt="" />
    </div>
    <div>
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-12.png" alt="" />
    </div>
    <div>
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-13.png" alt="" />
    </div>
    <div>
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-14.png" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-15.png" alt="" />
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-16.png" alt="" />
    </div>
  </div>

  <div class="section section-3" ref="section3">
    <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-17.jpg" alt="" />
  </div>

  <div class="section section-4" ref="section4">
    <div class="container">
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-18.png" alt="" />
      <div class="text">
        <span></span>
        <span></span>
        <p>1. Visit the map</p>
      </div>
    </div>
    <div class="container">
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-19.png" alt="" />
      <div class="text">
        <span></span>
        <span></span>
        <p>2. Read the objectives</p>
      </div>
    </div>
    <div class="container">
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-20.png" alt="" />
      <div class="text">
        <span></span>
        <span></span>
        <p>3. Do the 3 exercices</p>
      </div>
    </div>
    <div class="container">
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-21.png" alt="" />
      <div class="text">
        <span></span>
        <span></span>
        <p>4. Your classmates and your teacher are here to help you</p>
      </div>
    </div>
    <div class="container last">
      <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-22.png" alt="" />
      <div class="text">
        <span></span>
        <span></span>
        <p>5. Bravo ! You’ve solved the level and found Mat’s bag !</p>
      </div>
    </div>
    <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-23.png" alt="" class="shadow"/>
  </div>

  <div class="section section-5" ref="section5">
    <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-24.jpg" alt="" />
  </div>

  <div class="section section-6" ref="section6">
    <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-25.jpg" alt="" />
    <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-26.jpg" alt="" />
    <img src="/images/projects/mathetmalice/imanebahouss-mathetmalice-27.jpg" alt="" />
  </div>

</div>
