<div class="project-content jeanine">

	<div class="grid" ref="grids">
		<div />
		<div />
		<div />
		<div />
		<div />
		<div />
	</div>

	<div class="description-container" ref="description">
		<div class="title-container">
			<h1>
				Jeanine
				<span>Motion Design Project</span>
			</h1>
			<p>
				"Jeanine a real time bomb complete the Central Nuclear Party"
			</p>
		</div>
		<div class="what-i-did">
			<h2>What i did</h2>
			<ul>
				<li>Charact Design</li>
				<li>Motion Design</li>
				<li>Sound Design</li>
			</ul>
		</div>
		<div class="who">
			<h2>Who ?</h2>
			<ul>
				<li>Cécylia Curtel</li>
				<li>Zoé Leloutre</li>
			</ul>
		</div>
	</div>

	<div class="section section-1 mid-section" ref="section1">
		<img src="/images/projects/jeanine/imanebahouss-jeanine-1.png" alt="" />
		<img src="/images/projects/jeanine/imanebahouss-jeanine-3.png" alt="" />
	</div>

	<div class="section section-2" ref="section2">
			<img src="/images/projects/jeanine/imanebahouss-jeanine-4.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-5.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-6.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-7.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-8.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-9.png" alt="" />
	</div>

	<div class="second-section">

		<div class="section section-3 mid-section" ref="section3">
			<img src="/images/projects/jeanine/imanebahouss-jeanine-10.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-11.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-12.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-13.png" alt="" />
			<img src="/images/projects/jeanine/imanebahouss-jeanine-14.png" alt="" />
		</div>

		<div class="section section-4 mid-section" ref="section4">
			<img src="/images/projects/jeanine/imanebahouss-jeanine-15.png" alt="" />
		</div>

		<div class="section section-5" ref="section5">
				<img src="/images/projects/jeanine/imanebahouss-jeanine-16.png" alt="" />
				<img src="/images/projects/jeanine/imanebahouss-jeanine-17.png" alt="" />
				<div class="box">
					<img src="/images/projects/jeanine/imanebahouss-jeanine-18.png" alt="" />
					<img src="/images/projects/jeanine/imanebahouss-jeanine-19.png" alt="" />
				</div>
		</div>

	</div>

	<div class="third-section">

		<div class="section section-6" ref="section6">
			<div>
				<img src="/images/projects/jeanine/imanebahouss-jeanine-20.gif" alt="" />
				<img src="/images/projects/jeanine/imanebahouss-jeanine-21.gif" alt="" />
				<img src="/images/projects/jeanine/imanebahouss-jeanine-22.gif" alt="" />
				<img src="/images/projects/jeanine/imanebahouss-jeanine-23.gif" alt="" />
				<img src="/images/projects/jeanine/imanebahouss-jeanine-24.gif" alt="" />
				<img src="/images/projects/jeanine/imanebahouss-jeanine-25.gif" alt="" />
			</div>
		</div>

	</div>

</div>
