.sncf
  background white
  position relative
  .skew-background
    height 27%
    overflow hidden
    position absolute
    top 18%
    width 248%
    &::after
      background #e6eaef
      content ''
      display block
      height 148%
      position relative
      transform skew(0deg, 29deg)
      top 130%
      width 238%
  .section
    position relative
    z-index 1
  .section-1
    margin-bottom 90px
    max-width 120
    width 100%
    position relative
    img
      position absolute
      &:nth-child(1)
        left 9.722222222222%
        top 1.6%
        width 41.666666666667%
      &:nth-child(2)
        left 52.361111111111%
        top 3.6%
        width 41.666666666667%
      &:nth-child(3)
        left -10.3%
        top 16.7%
        width 41.666666666667%
      &:nth-child(4)
        left 32.5%
        top 18.8%
        width 41.597222222222%
      &:nth-child(5)
        left 12.361111111111%
        top 34.1%
        width 41.666666666667%
      &:nth-child(6)
        left -7.6%
        top 49.5%
        width 41.666666666667%
      &:nth-child(7)
        left 35%
        top 51.7%
        width 41.597222222222%
      &:nth-child(8)
        left 14.861111111111%
        top 67%
        width 41.666666666667%
      &:nth-child(9)
        left 55.277777777778%
        top 0%
        width 44.791666666667%
  .section-2
    margin-bottom 140px
    width 100%
    div
      width 100%
      &:nth-child(1), &:nth-child(3)
        img
          margin-right 6.597222222222%
          width 9.930555555556%
          &:nth-child(1)
            margin-left 28.194444444444%
          &:nth-child(3)
            margin-right 0
      &:nth-child(2)
        img:nth-child(1)
          margin-left 37.8%
          margin-right 9.2%
          width 7.916666666667%
        img:nth-child(2)
          width 6.805555555556%
    img
      display inline-block
      margin-right 6.25%
      &:last-child
        margin-right 0%
  .section-3
    position relative
    div
      text-align center
    svg
      position relative
      bottom 3px
      width 9.313725490196%
    & > div:first-child
      position relative
      width 100%
      div:nth-child(1)
        left 25%
        position absolute
        top 12.1%
        width 16.09375%
        z-index 2
        img
          width 100%
      div:nth-child(2)
        left 41.09375%
        position relative
        width 18.28125%
        z-index 1
        img
          width 100%
      div:nth-child(3)
        left 59.375%
        position absolute
        top 12.1%
        width 16.09375%
        z-index 0
        img
          width 100%
    .label
      font-family montserratsemibold
      font-size 1.25rem
      position relative
    .selector
      bottom 18px
      display block
      font-size 0.8rem
      position relative
      text-align center
  .section-4
    margin 90px 0 90px 0
    img:nth-child(1)
      left 0
      position relative
      width 53.75%
      z-index 2
    img:nth-child(2)
      left 52.05%
      position absolute
      top 5.7%
      width 19.603125%
      z-index 1
    img:nth-child(3)
      left 69.853125%
      position absolute
      top 12.5%
      width 24.05625%
      z-index 0
  .section-5
    margin-bottom 150px
    width 100%
    div
      display inline-block
      vertical-align middle
    img
      display inline-block
    div:nth-child(1)
      margin 0 6.25% 0 25%
      width 8.194444444444%
      img
        width 100%
    div:nth-child(2)
      margin-right 3.055555555556%
      width 21.458333333333%
      img
        display block
        width 100%
    div:nth-child(3)
      width 10.763888888889%
      span
        border-radius 0.4rem
        box-shadow 0px 3px 3px 0px #5f8689
        display inline-block
        font-family avenirheavy
        font-size 1.647rem
        margin-right 3.4%
        padding 0.6rem 1rem
        &:nth-child(1)
          color #cdcd00
          border 2px solid #cdcd00
          margin-bottom 30px
        &:nth-child(2)
          color #7b4339
          border 2px solid #7b4339
          margin-bottom 30px
        &:nth-child(3)
          color #7584bc
          border 2px solid #7584bc
          margin-bottom 30px
        &:nth-child(4)
          color #00a092
          border 2px solid #00a092
          margin-bottom 30px
        &:nth-child(5)
          color #f0b600
          border 2px solid #f0b600
        &:nth-child(6)
          background #e4b4d1
          color #ffffff
          border 2px solid #e4b4d1
        &:nth-child(7)
          color #c7b300
          border 2px solid #c7b300
        &:nth-child(8)
          color #d60058
          border 2px solid #d60058
  .section-6
    margin-bottom 90px
    padding-bottom 9.6%
    div
      position relative
      width 100%
      img
        position relative
        width 33.515625%
      img:nth-child(1)
        left 8.333333333333%
        position relative
      img:nth-child(2)
        left 24.90625%
        transform translateY(4.4%)
        width 33.3375%
      img:nth-child(3)
        left 25%
        transform translateY(-19.4%)
      img:nth-child(4)
        left 25%
        transform translateY(31%)
        width 33.3375%
  .section-7
    div
      position relative
      width 100%
    img:nth-child(1)
      display block
      left 8.333333333333%
      margin-bottom 40px
      position relative
      width 50%
    img:nth-child(2)
      display block
      left 41.388888888889%
      position relative
      width 50%

@media screen and (max-width: 1500px)
  .sncf-content .section-5 div:nth-child(3) span
    padding 0.4rem 0.8rem

@media screen and (max-width: 1320px)
  .sncf-content .section-5 div:nth-child(3) span
    font-size 1.447rem
    padding 0.4rem 0.8rem

@media screen and (max-width: 1270px)
  .sncf-content .section-5 div:nth-child(1) img:nth-child(odd)
    margin-right 25% !important
  .sncf-content .section-5 div:nth-child(3) span
    font-size 1.247rem
    padding 0.3rem 0.6rem

@media screen and (max-width: 1043px)
  .sncf-content .section-5 div:nth-child(3) span
    font-size 1.147rem
    padding 0.1rem 0.4rem

@media screen and (max-width: 845px)
  .sncf-content .section-5 div:nth-child(1) img
    width 25% !important
  .sncf-content .section-5 div:nth-child(3) span
    font-size 0.947rem
    padding 0rem 0.2rem
