<div class="project-content sncf">

  <div class="skew-background"></div>

  <div class="grid" ref="grids">
    <div />
    <div />
    <div />
    <div />
    <div />
    <div />
  </div>

  <div class="description-container" ref="description">
    <div class="title-container">
      <h1>
        SNCF
        <span>Optimize your time</span>
      </h1>
      <p>
        Transilien is the name of the commuter train network of the National Society of French Railways (SNCF)
        train stations serving mainly the Ile-de-France. They asked us to solve one of their biggest problems : the
        rush hours. So we created this webApp which proposes to the user some activities, according to his profil,
        to optimize his time and wait for the end of the peak hours.
      </p>
    </div>
    <div class="what-i-did">
      <h2>What i did</h2>
      <ul>
        <li>UX Design</li>
        <li>UI Design</li>
        <li>Graphic Design</li>
        <li>Illustration</li>
        <li>Motion Design</li>
      </ul>
    </div>
    <div class="who">
      <h2>Who ?</h2>
      <ul>
        <li>Ludovic Atmadjan</li>
        <li>SNCF</li>
        <li>Gobelins l'école de l'image</li>
      </ul>
    </div>
  </div>

  <div class="section section-1" style={firstSectionStyle} ref="section1">
    <img src="/images/projects/sncf/imanebahouss-sncf-1.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-2.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-3.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-4.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-5.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-6.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-7.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-8.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-9.png" alt="" />
  </div>

  <div class="section section-2" ref="section2">
    <div>
      <img src="/images/projects/sncf/imanebahouss-sncf-10.png" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-11.png" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-12.png" alt="" />
    </div>
    <div>
      <img src="/images/projects/sncf/imanebahouss-sncf-13.png" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-14.png" alt="" />
    </div>
    <div>
      <img src="/images/projects/sncf/imanebahouss-sncf-15.png" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-16.png" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-17.png" alt="" />
    </div>
  </div>

  <div class="section section-3" ref="section3">
    <div>
      <div>
        <img src="/images/projects/sncf/imanebahouss-sncf-18.png" alt="" />
        <svg viewBox="0 0 39.583 112.585">
        	<path fill="#22A9AB" d="M22.333,73.642V0.337h-5v73.304C7.829,74.874,0.458,83.001,0.458,92.837
        	c0,10.684,8.691,19.375,19.375,19.375s19.375-8.691,19.375-19.375C39.208,83.001,31.838,74.874,22.333,73.642z M19.833,107.212
        	c-7.926,0-14.375-6.449-14.375-14.375c0-7.928,6.449-14.375,14.375-14.375s14.375,6.447,14.375,14.375
        	C34.208,100.763,27.76,107.212,19.833,107.212z"/>
        </svg>
        <span class="selector">1</span>
        <span class="label">SET YOUR PROFIL</span>
      </div>
      <div>
        <img src="/images/projects/sncf/imanebahouss-sncf-19.png" alt="" />
        <svg viewBox="0 0 39.583 112.585">
        	<path fill="#22A9AB" d="M22.333,73.642V0.337h-5v73.304C7.829,74.874,0.458,83.001,0.458,92.837
        	c0,10.684,8.691,19.375,19.375,19.375s19.375-8.691,19.375-19.375C39.208,83.001,31.838,74.874,22.333,73.642z M19.833,107.212
        	c-7.926,0-14.375-6.449-14.375-14.375c0-7.928,6.449-14.375,14.375-14.375s14.375,6.447,14.375,14.375
        	C34.208,100.763,27.76,107.212,19.833,107.212z"/>
        </svg>
        <span class="selector">2</span>
        <span class="label">SET YOUR TRIP</span>
      </div>
      <div>
        <img src="/images/projects/sncf/imanebahouss-sncf-20.png" alt="" />
        <svg viewBox="0 0 39.583 112.585">
        	<path fill="#22A9AB" d="M22.333,73.642V0.337h-5v73.304C7.829,74.874,0.458,83.001,0.458,92.837
        	c0,10.684,8.691,19.375,19.375,19.375s19.375-8.691,19.375-19.375C39.208,83.001,31.838,74.874,22.333,73.642z M19.833,107.212
        	c-7.926,0-14.375-6.449-14.375-14.375c0-7.928,6.449-14.375,14.375-14.375s14.375,6.447,14.375,14.375
        	C34.208,100.763,27.76,107.212,19.833,107.212z"/>
        </svg>
        <span class="selector">3</span>
        <span class="label">ENJOY YOUR PERSONALIZED SELECTION OF ACTIVITIES</span>
      </div>
    </div>
  </div>

  <div class="section section-4" ref="section4">
    <img src="/images/projects/sncf/imanebahouss-sncf-20_1.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-20_2.png" alt="" />
    <img src="/images/projects/sncf/imanebahouss-sncf-20_3.png" alt="" />
  </div>

  <div class="section section-5" ref="section5">
    <div>
      <img src="/images/projects/sncf/imanebahouss-sncf-21.png" alt="" />
    </div>
    <div>
      <img src="/images/projects/sncf/imanebahouss-sncf-29.png" alt="" />
    </div>
    <div>
      <span>J</span>
      <span>H</span>
      <span>L</span>
      <span>N</span>
      <span>P</span>
      <span>R</span>
      <span>K</span>
      <span>U</span>
    </div>
  </div>

  <div class="section section-6" ref="section6">
    <div>
      <img src="/images/projects/sncf/imanebahouss-sncf-30.png" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-31.png" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-32.png" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-33.png" alt="" />
    </div>
  </div>

  <div class="section section-7" ref="section7">
    <div>
      <img src="/images/projects/sncf/imanebahouss-sncf-34.gif" alt="" />
      <img src="/images/projects/sncf/imanebahouss-sncf-35.gif" alt="" />
    </div>
  </div>


</div>
