@charset 'UTF-8'

@import 'common/normalize'

@font-face
   font-family avenirheavy
   font-style 'normal'
   /* pour IE */
   src : url('/fonts/avenir-heavy.eot'); /* Pour IE9 Compat mode */
   src : url('/fonts/avenir-heavy.eot?') format('eot'),
   	  	 url('/fonts/avenir-heavy.woff') format('woff'),
         url('/fonts/avenir-heavy.svg#avenir_85_heavyregular') format('svg'),
         url('/fonts/avenir-heavy.ttf') format('truetype');

@font-face
   font-family montserratlight
   font-style 'light'
   /* pour IE */
   src : url('/fonts/montserrat-light.eot'); /* Pour IE9 Compat mode */
   src : url('/fonts/montserrat-light.eot?') format('eot'),
   	  	 url('/fonts/montserrat-light.woff') format('woff'),
         url('/fonts/montserrat-light.svg#montserratlight') format('svg'),
         url('/fonts/montserrat-light.ttf') format('truetype');

@font-face
   font-family montserrat
   font-style 'normal'
   /* pour IE */
   src : url('/fonts/montserrat-regular.eot'); /* Pour IE9 Compat mode */
   src : url('/fonts/montserrat-regular.eot?') format('eot'),
          url('/fonts/montserrat-regular.woff') format('woff'),
         url('/fonts/montserrat-regular.svg#montserratregular') format('svg'),
         url('/fonts/montserrat-regular.ttf') format('truetype');

@font-face
   font-family montserratextrabold
   /* pour IE */
   src : url('/fonts/montserrat-extrabold.eot'); /* Pour IE9 Compat mode */
   src : url('/fonts/montserrat-extrabold.eot?') format('eot'),
          url('/fonts/montserrat-extrabold.woff') format('woff'),
         url('/fonts/montserrat-extrabold.svg#montserratextra_bold') format('svg'),
         url('/fonts/montserrat-extrabold.ttf') format('truetype');

@font-face
   font-family montserratsemibold
   font-style 'semibold'
   /* pour IE */
   src : url('/fonts/montserrat-semibold.eot'); /* Pour IE9 Compat mode */
   src : url('/fonts/montserrat-semibold.eot?') format('eot'),
          url('/fonts/montserrat-semibold.woff') format('woff'),
         url('/fonts/montserrat-semibold.svg#montserratsemi_bold') format('svg'),
         url('/fonts/montserrat-semibold.ttf') format('truetype');

@font-face
   font-family montserratblack
   font-style 'black'
   /* pour IE */
   src : url('/fonts/montserrat-black.eot'); /* Pour IE9 Compat mode */
   src : url('/fonts/montserrat-black.eot?') format('eot'),
          url('/fonts/montserrat-black.woff') format('woff'),
         url('/fonts/montserrat-black.svg#montserratblack') format('svg'),
         url('/fonts/montserrat-black.ttf') format('truetype');

@font-face
   font-family montserratultralight
   font-style 'ultralight'
   /* pour IE */
   src : url('/fonts/montserrat-ultralight.eot'); /* Pour IE9 Compat mode */
   src : url('/fonts/montserrat-ultralight.eot?') format('eot'),
          url('/fonts/montserrat-ultralight.woff') format('woff'),
         url('/fonts/montserrat-ultralight.svg#montserratultra_light') format('svg'),
         url('/fonts/montserrat-ultralight.ttf') format('truetype');

@font-face
   font-family pica
   font-style 'normal'
   /* pour IE */
   src : url('/fonts/pica10pitchbt-roman.eot'); /* Pour IE9 Compat mode */
   src : url('/fonts/pica10pitchbt-roman.eot?') format('eot'),
          url('/fonts/pica10pitchbt-roman.woff') format('woff'),
         url('/fonts/pica10pitchbt-roman.svg#Pica10PitchBT-Roman') format('svg'),
         url('/fonts/pica10pitchbt-roman.ttf') format('truetype');
@font-face
	font-family: 'Futura PT Web';
	src: url('/fonts/FuturaPTWeb-Medium.eot');
	src: url('/fonts/FuturaPTWeb-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/FuturaPTWeb-Medium.woff') format('woff'),
		url('/fonts/FuturaPTWeb-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;

html, body
  background #000000
  font-family montserrat
  font-size 62.5%
  &.project
    overflow hidden

.link--kukuri
  // text-transform: uppercase;
  // font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: #8d8d8d;
.link--kukuri:hover
  color: #8d8d8d;
.link--kukuri::after
  content: '';
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  transform: translate3d(-100%,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  z-index 3
.link--kukuri:hover::after
  transform: translate3d(100%,0,0);
.link--kukuri::before
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: black;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
.link--kukuri:hover::before
  width: 100%;
