<div class="home" ref="container">

	<div class="home-content">

		<div class="home-left" ref="left">

			<div class="home-viewProjects" ref="viewProjects" v-on:click="handleProjectsClick" v-on:mouseenter="handleProjectsEnter" v-on:mouseleave="handleProjectsLeave">
				<h2>View all the projects</h2>
				<div class="home-projects" ref="projects">
					<ul>
						<li v-for="preview in previews" v-on:click="handleProjectClick(preview.id)">
							<h2>
								{{preview.title}}
								<span>{{preview.subtitle}}</span>
							</h2>
							<img v-bind:src="preview.src" v-bind:alt="preview.title"></img>
	  				</li>
					</ul>
				</div>
			</div><div class="home-title" ref="title">

				<div class="home-about" ref="about"  v-on:mouseleave="handleAboutLeave">

					<img v-if="assetsLoaded" v-bind:src="assets.getImage('logo').media.src" v-bind:alt="assets.getImage('logo').media.alt" >

					<p>
						INTERACTIVE DESIGNER STUDENT AT GOBELINS, L’ÉCOLE DE L’IMAGE MASTER’S DEGREE.
						I SOLVE PROBLEMS BY CREATING RELEVANT, FLUID AND EMOTIONAL DIGITAL EXPERIENCES.
						UX - UI DESIGNMOTION DESIGN HAND DRAW & VECTOR ILLUSTRATION BRANDING IDENTITY
					</p>

				</div>

				<h2 class="home__about-text" v-bind:class="{ 'is-active': aboutActive }" ref="aboutText" v-on:mouseenter="handleAboutEnter">ABOUT ME</h2>

				<h1 class="home__title-text">
					IMANE BAHOUSS
					<span>Interactive Designer Based in Paris</span>
				</h1>

			</div>

		</div>

    <div class="home__project-box" ref="projectBox">
      <h2><span ref="projectBoxTitle"></span><br /><span ref="projectBoxSubtitle"></span></h2>
      <a ref="displayButton" v-on:click="handleButtonClick" href="#">See more</a>
    </div>

    <div class="home__first-line" ref="firstLine"></div><div class="home__second-line" ref="secondLine"></div>

    <div class="home__right" ref="right">

			<div class="home__right-container" ref="rightContainer">

				<div class="home__contact" ref="contact"  v-on:mouseleave="handleContactLeave">

          <ul>
            <li>
              <a class="link link--kukuri" data-letters="MAIL" href="mailto:imane.bahouss@gmail.com" target="_blank">MAIL</a>
            </li>
            <li>
              <a class="link link--kukuri" data-letters="BEHANCE" href="https://www.behance.net/imanbss" target="_blank">BEHANCE</a>
            </li>
            <li>
              <a class="link link--kukuri" data-letters="LINKEDIN" href="https://www.linkedin.com/in/imanebahouss" target="_blank">
                LINKEDIN
              </a>
            </li>
            <li>
              <a class="link link--kukuri" data-letters="VIMEO" href="https://vimeo.com/imanbss" target="_blank">VIMEO</a>
            </li>
            <li>
              <a class="link link--kukuri" data-letters="INSTAGRAM" href="https://www.instagram.com/iman.bss/" target="_blank">INSTAGRAM</a>
            </li>
          </ul>

				</div>

				<h2 class="home__contact-text" v-bind:class="{ 'is-active': contactActive }" ref="contactText" v-on:mouseenter="handleContactEnter">Contact</h2>
        <h2 class="home__journal" ref="journal">Journal</h2>

			</div>

		</div>

	</div>

</div>
