<div class="project__content sisley">

	<div class="grid" ref="grids">
		<div />
		<div />
		<div />
		<div />
		<div />
		<div />
	</div>

	<div class="description-container" ref="description">
		<div class="title-container">
			<h1>
				NTMY
				<span>Sisley Paris</span>
			</h1>
			<p>
				Nice to meet you is the event app launched by Sisley Paris to try to seduce you.
				Only 24 hours to the brand to identify the traits of your personality and offer products for your lifestyle.
			</p>
		</div>
		<div class="what-i-did">
			<h2>What i did</h2>
			<ul>
				<li>Art Direction</li>
				<li>UX Design</li>
				<li>UI Design</li>
				<li>Graphic Design</li>
				<li>Illustration</li>
				<li>Motion Design</li>
			</ul>
		</div>
		<div class="who">
			<h2>Who ?</h2>
			<ul>
				<li>Diana Marchal</li>
				<li>Nathalite Marchal</li>
				<li>Alexis Pineau</li>
				<li>Mathis Biabiany</li>
				<li>Sisley Paris</li>
				<li>Gobelins, l'école de l'image</li>
			</ul>
		</div>
	</div>

	<div class="section section-1 mid-section" ref="section1">
		<img src="/images/projects/sisley/imanebahouss-sisley-1.png" alt="" />
		<img src="/images/projects/sisley/imanebahouss-sisley-2.png" alt="" />
	</div>

	<div class="section section-2" ref="section2">
		<img class="bg" src="/images/projects/sisley/imanebahouss-sisley-8.png" alt="" />
	</div>

	<div class="section section-3" ref="section3">
		<div class="first">
			<img class="right" src="/images/projects/sisley/imanebahouss-sisley-3.png" alt="" />
			<img class="right" src="/images/projects/sisley/imanebahouss-sisley-4.png" alt="" />
			<img class="right" src="/images/projects/sisley/imanebahouss-sisley-5.png" alt="" />
			<img class="right" src="/images/projects/sisley/imanebahouss-sisley-6.png" alt="" />
			<img src="/images/projects/sisley/imanebahouss-sisley-7.png" alt="" />
		</div>
		<div class="text">
			<img src="/images/projects/sisley/imanebahouss-sisley-9.png" alt="" />
		</div>
	</div>

	<div class="section section-4" ref="section4">
		<div class="mask">
			<div class="first">
				<img src="/images/projects/sisley/imanebahouss-sisley-11.png" alt="" />
			</div>
			<div class="last">
				<img src="/images/projects/sisley/imanebahouss-sisley-12.png" alt="" />
			</div>
		</div>
	</div>

	<div class="section section-5" ref="section5">
		<img src="/images/projects/sisley/imanebahouss-sisley-14.png" alt="" />
		<img src="/images/projects/sisley/imanebahouss-sisley-15.png" alt="" />
		<img src="/images/projects/sisley/imanebahouss-sisley-16.png" alt="" />
		<img src="/images/projects/sisley/imanebahouss-sisley-17.png" alt="" />
		<div class="text">
			<h2>THE SISLEY SELECTION</h2>
			<p>
				Discover our selection of products that stick with your personality and lifestyle.
				We propose you to receive free product samples.
				You can then take the time to try our range.
			</p>
		</div>
	</div>

	<div class="section section-6" ref="section6">
			<img src="/images/projects/sisley/imanebahouss-sisley-19.png" alt="" />
			<img src="/images/projects/sisley/imanebahouss-sisley-18.png" alt="" />
			<img src="/images/projects/sisley/imanebahouss-sisley-20.png" alt="" />
			<img src="/images/projects/sisley/imanebahouss-sisley-21.png" alt="" />
			<img src="/images/projects/sisley/imanebahouss-sisley-22.png" alt="" />
	</div>

	<div class="section section-7" ref="section7">
		<div class="mid-section">
			<div class="first">
				<img src="/images/projects/sisley/imanebahouss-sisley-23.png" alt="" />
			</div>
			<div class="second">
				<img src="/images/projects/sisley/imanebahouss-sisley-24.gif" alt="" />
				<img src="/images/projects/sisley/imanebahouss-sisley-24.gif" alt="" />
			</div>
			<div class="third">
				<img src="/images/projects/sisley/imanebahouss-sisley-25.gif" alt="" />
				<img src="/images/projects/sisley/imanebahouss-sisley-26.gif" alt="" />
				<img src="/images/projects/sisley/imanebahouss-sisley-27.gif" alt="" />
			</div>
		</div>
	</div>

</div>
